# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
tga/ugc/migrations/

# Byte-compiled / optimized / DLL files
__pycache__/

# other
/tga/ugc/uploader/DOWNLOADS
.idea
keys.py
*.session
.vscode
/tga/bot
