[Unit]
Description=Django Admin daemon
After=network.target

[Service]
User=www
Group=www
WorkingDirectory=/home/www/ytd_bot/tga/tga
Environment="PYTHONPATH=/home/www/ytd_bot/tga"
ExecStart=/home/www/ytd_bot/.venv/bin/gunicorn --workers 2 --bind unix:/home/www/run/tgadmin.sock wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
